@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

:root {
    --orange: #ff695f;
    --blue: #03a4ed;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

/* navbar design start here  */
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 10px;
    background-color: #fafafa;
}

.navbar .logo img {
    height: 3.5rem;
}

.nav-links .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links .list li a {
    font-size: 18px;
    padding: 0 20px 0 20px;
    transition: color 0.3s ease 0.2s;
}

.nav-links .list li a:hover {
    color: var(--orange);
}

.nav-links .list button {
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    background-color: var(--orange);
    color: white;
    margin: 0 0 0 20px;
    transition: all 0.4s ease-out 0.1s;
}

.nav-links .list button:hover {
    background-color: var(--blue);
    cursor: pointer;
}

@media only screen and (max-width: 428px) {
    .navbar {
        justify-content: space-around;

        padding: 15px 5px;
    }

    .navbar .logo img {
        height: 2.5rem;
    }

    .nav-links .list {
        display: none;
    }
}

@media only screen and (min-width: 429px) and (max-width: 834px) {
    .navbar .logo img {
        height: 3rem;
    }

    .nav-links .list li a {
        font-size: 14px;
        padding: 0 20px 0 20px;
    }

    .nav-links .list button {
        font-size: 14px;
        padding: 10px 25px;
        margin: 0 0 0 0;
    }

}

/* navbar design end here  */


main .gaubesi-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .gaubesi-welcome {
    position: relative;
    width: 30vw;
    left: 5vw;


}

main .gaubesi-welcome h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--orange);
}

main .gaubesi-welcome h2 {
    font-family: sans-serif;
    font-size: 43px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.5;
    margin: 10px 0;
}

main .gaubesi-welcome span:first-child {
    font-family: sans-serif;
    color: var(--blue);
}

main .gaubesi-welcome span:nth-child(2) {
    font-family: sans-serif;
    color: var(--orange);
}

main .gaubesi-welcome p {
    font-size: 18px;
    text-transform: capitalize;
    line-height: 1.5;

}

main .gaubesi-welcome button {
    color: rgb(54 45 45 / 72%);
    font-size: 15px;
    text-transform: capitalize;
    background-color: var(--blue);
    border: none;
    padding: 15px 30px;
    border-radius: 25px;
    margin: 15px 0;
    transition: all 0.5s ease-in 0.2s;
}

main .gaubesi-welcome button:hover {
    background-color: var(--orange);
    color: whitesmoke;
    cursor: pointer;
}

@media only screen and (max-width:428px) {
    main .gaubesi-wrapper .gaubesi-image {
        display: none;
    }

    main .gaubesi-welcome {
        width: 100vw;
        margin: 45px 0 0 12px;
        left: 0;

    }

}

@media only screen and (max-width:834px) {
    main .gaubesi-wrapper {
        align-items: flex-start;
        flex-direction: column;
    }

    main .gaubesi-welcome {
        width: 90vw;
        margin: 30px 0;
        left: 5vw;

    }

    main .gaubesi-wrapper .gaubesi-image img {
        height: 42rem;
    }

}